.shop-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.products-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
}

@media only screen and (max-width: 600px) {
	.products-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media only screen and (max-width: 425px) {
	.products-container {
		grid-template-columns: no-repeat(1fr);
	}
}
