.product {
	width: 300px;
	height: 510px;
	margin-left: 50px;
	margin-top: 30px;
}
.product img {
	width: 286px;
	height: 286px;
}
.product-name {
	font-family: Lato;
	font-weight: 400, Regular;
	font-size: 21px;
}
